# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/
redis_data/

# Arquivos antigos (remover quando limpar)
/src/
/web/
/templates/
